@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 22, 30, 44;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

header {
  background-image: none !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.mui-jkymtx-MuiPaper-root {
  background-color: #31425f80 !important;
  backdrop-filter: blur(4px) !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.MuiMenu-paper.MuiMenu-paper {
  background-color: #31425f80 !important;
  backdrop-filter: blur(4px) !important;
}

.MuiTypography-root.MuiTypography-body2.MuiListItemText-secondary {
  text-overflow: ellipsis;
  overflow: hidden;
}